.header {
    display: flex;
    justify-content: space-between;
}
.header>h2{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: aliceblue;
}

.logo {
    width: 5rem;
    height: 3rem;
}
.header-menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    color: white;
    margin-top: 2rem;
}
.header-menu > li:hover {
    color: var(--orange);
    cursor: pointer;
    background-color: grey;
}

@media screen and (max-width: 768px) {
    .header > :nth-child(2) {
        position: fixed;
        right: 2rem;
        z-index: 99;
    }
    .header-menu {
        flex-direction: column;
        background-color: var(--appColor);
        padding: 5rem;
    }
}