.features-container {
  padding: 30px;
  text-align: center;
 
  background-color: white;
  background: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
 
  margin: 60px;
  margin-top: -10px;

}
.features-header {
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  gap: 6rem;
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 2rem;
}


.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  position: relative;
  width: 300px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.4s;
  margin-top: 4rem;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card h3 {
  font-size: 1.5em;
  color: rgb(57, 0, 60);
  margin-bottom: 1rem;
}

.card ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #666;
}

.card li {
  padding: 0.5rem 0;
}

.hover-content {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  padding: 1rem;
  border-radius: 8px;
  overflow: auto;
}

.card:hover .hover-content {
  display: block;
}

.hover-content table {
  width: 100%;
  border-collapse: collapse;
}

.hover-content th, .hover-content td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.hover-content th {
  background: #007acc;
  color: #fff;
}
