.hero { 
    display: flex;
    justify-content: space-between;
    /* margin-top: 20px;  */
    
    /* height: 85vh; */
    background: radial-gradient(rgba(54, 7, 81, 0.867),black);
    /* linear-gradient(to bottom, #A3CBCC 48%, #98C3C5 50%); */
    
}

.left-h {    
    display: flex;
    padding: 3rem;
    padding-top: 9.5rem;
    flex: 3;
    gap: 2rem;
    flex-direction: column;
    
}

.right-h {
    flex: 1 1;
    position: relative;
}

.the-best-ad {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    margin-top: -1rem;
    background-color: #363d42;
    border-radius: 12rem;
    width: fit-content;
    padding: 10px;
    text-transform: uppercase;
    color: white;
}

.the-best-ad > span {
    z-index: 2;
    position: relative;
}

.the-best-ad > div {
    position: absolute;
    background-color: var(--orange);
    width: 5.4rem;
    height: 80%;
    left: 8px;
    border-radius: 3rem;
    z-index: 1;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-transform: uppercase;
    font-family: 'lato', sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
    text-overflow: inherit;
    margin-top: -3rem;
}


.hero-text > div:nth-of-type(3) {
    font-size: 1rem;
    font-weight: 100;
    text-transform: none;
    letter-spacing: 1px;
    width: 80%;
}

.figures {
    display: flex;
    gap: 2rem;
}

.figures > div {
    display: flex;
    flex-direction: column;
}

.figures > div > span:nth-of-type(1) {
    color: white;
    font-size: 2rem;
}

.figures > div > span:nth-of-type(2) {
    color: var(--gray);
    text-transform: uppercase;
}

.hero-buttons {
    display: flex;
    gap: 1rem;
    font-weight: normal;
}

.hero-buttons > :nth-child(1) {
    color: white;
    background-color: rgba(54, 7, 81, 0.867);
    width: 8rem;
}

.hero-buttons > :nth-child(2) {
    color: white;
    background-color: transparent;
    width: 8rem;
    border: 2px solid rgba(54, 7, 81, 0.867);
}

.right-h > .btn {
    position: absolute;
    right: 5rem;
    top: 3rem;
    color: rgb(38, 33, 196);
}

.heart-rate {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    width: fit-content;
    padding: 1rem;
    align-items: start;
    border-radius: 5px;
    position: absolute;
    right: 4rem;
    top: 27rem;
}

.heart-rate > img {
    width: 2rem;
}

.heart-rate > :nth-child(2) {
    color: var(--gray);
}

.heart-rate > :nth-child(3) {
    color: white;
    font-size: 1.5rem;
}

.hero-image {
    position: absolute;
    top: 7rem;
    right: 0rem;
    width: 25rem;
    padding-right: 45%;
    height: 30rem;
}

.hero-image-back {
    position: absolute;
    top: 11rem;
    right: 18rem;
    width: 25rem;
    height: 29rem;
    margin-top: -15px;
}

.SpO2 {
    display: flex;
    gap: 2rem;
    border-radius: 5px;
    padding: 1rem;
    width: fit-content;
    position: absolute;
    top: 41rem;
    right: 28rem;
}

.SpO2 > img {
    width: 3rem;
}

.SpO2 > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.SpO2 > div > :nth-child(1) {
    color: var(--gray);
}

.SpO2 > div > :nth-child(2) {
    color: white;
    font-size: 1.5rem;
}

.jaw-movement {
    display: flex;
    gap: 1rem;
    border-radius: 5px;
    padding: 1rem;
    width: fit-content;
    position: absolute;
    top: 34rem;
    right: 4rem;
}

.jaw-movement > img {
    width: 2rem;
}

.jaw-movement > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.jaw-movement > div > :nth-child(1) {
    color: var(--gray);
}

.jaw-movement > div > :nth-child(2) {
    color: white;
    font-size: 1.5rem;
}

.temperature {
    display: flex;
    border-radius: 5px;
    padding: 1rem;
    align-items: start;
    width: fit-content;
    position: absolute;
    top: 38rem;
    right: 3rem;
}

.temperature > img {
    width: 5rem;
}
.temperature > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.temperature > div > :nth-child(1) {
    color: var(--gray);
}

.temperature > div > :nth-child(2) {
    color: white;
    font-size: 1.5rem;
}

.hero-blur {
    width: 22rem;
    height: 30rem;
    left: 0;
}

@media screen and (max-width: 768px) {
    .hero {
        flex-direction: column;
    }

    .hero-blur {
        width: 14rem;
    }

    .the-best-ad {
        margin-top: 0;
        font-size: small;
        align-self: center;
        transform: scale(0.8);
    }

    .hero-text {
        font-size: xx-large;
        align-items: center;
        justify-content: center;
    }

    .hero-text > div:nth-of-type(3) {
        font-size: small;
        font-weight: 200;
        letter-spacing: 1px;
        text-align: center;
    }

    .hero-buttons {
        justify-content: center;
        padding: auto;
    }
    .hero-buttons:hover {
        background-color:rgb(0, 0, 0);
        cursor: pointer; 
        justify-content: center;
    }

    .figures > div > span:nth-of-type(1) {
        font-size: large;
    }

    .figures > div > span:nth-of-type(2) {
        font-size: small;
    }

    .right-h {
        position: relative;
        background: none;
    }

    .heart-rate {
        left: 1rem;
        top: 2rem;
    }

    .hero-image {
        position: relative;
        width: 15rem;
        left: 7rem;
        top: 4rem;
        align-self: center;
    }

    .hero-image-back {
        width: 15rem;
        left: 2rem;
        top: 0rem;
    }
}