.testimonials {
    display: flex;
    flex-wrap: wrap;
    gap: 0; /* No gaps between sections */
    padding: 20px 0;
    margin-top: 7rem;
    background-color: rgba(81, 40, 104, 0.11);
    width: 100%; /* Full width */
    box-shadow: none;
    border-radius: 0;
    align-items: center; /* Center all elements vertically */
}

.left-t {
    display: flex;
    flex: 1 1 40%; /* Adjust width to accommodate arrows */
    gap: 2rem;
    flex-direction: column;
    padding: 0 2rem;
    text-transform: uppercase;
    color: #474646;
}

.left-t > :nth-child(1) {
    color: var(--orange);
    font-weight: bold;
}

.left-t > :nth-child(2),
.left-t > :nth-child(3) {
    font-weight: bold;
    font-size: 2.5rem;
}

.left-t > :nth-child(4) {
    text-transform: none;
    text-align: justify;
    letter-spacing: 1.5px;
    line-height: 1.5;
}

.arrows {
    display: flex;
    flex: 0 0 auto; /* Fixed size */
    gap: 1rem;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.arrows > img {
    width: 2rem;
    cursor: pointer;
}

.right-t {
    flex: 1 1 40%; 
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
}



.right-t > :nth-child(1) {
    position: absolute;
    width: 17rem;
    height: 20rem;
    border: 2px solid #9683bd;
    background-color: transparent;
    right: 9rem; /* Adjusted for alignment */
    top: 0.9rem;
}

.right-t > :nth-child(2) {
    position: absolute;
    width: 17rem;
    height: 19rem;
    top: 4rem;
    right: 7rem; /* Adjusted for alignment */
    background: var(--programCard);
}

.right-t>img {
    position: absolute;
    width: 17rem;
    height: 20rem;
    object-fit: cover;
    right: 8rem;
    top: 2rem;
    /* z-index: 2; */
}
@media screen and (max-width: 768px) {
    .testimonials {
        flex-direction: column;
        align-items: center;
    }

    .left-t {
        align-items: center;
        padding: 0 1rem;
    }

    .left-t > :nth-child(2),
    .left-t > :nth-child(3) {
        font-size: 2rem;
    }

    .arrows {
        margin: 1rem 0;
    }

    .right-t {
        margin-top: 2rem;
    }

    .right-t > :nth-child(1),
    .right-t > :nth-child(2) {
        position: relative;
        right: 0;
        top: 0;
        width: 100%;
        max-width: 15rem;
        margin: auto;
    }

    .right-t > img {
        max-width: 15rem;
    }
}
