.programs-container {
    margin-top: -4rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: relative;
    margin-top: 10rem;
    background-color: rgb(255, 255, 255);
}
.programs-header {
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    gap: 6rem;
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 4rem;
}
.programs-blur-1 {
    width: 32rem;
    height: 23rem;
    top: 6rem;
    left: 0rem;
}

.programs-blur-2 {
    width: 33rem;
    height: 23rem;
    top: 10rem;
    right: 0rem;
}

.programs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.program {
    display: flex;
    flex-direction: column;
    background: var(--caloryCard);
    color: white;
    gap: 2rem;
    padding: 1.5rem;
    width: 15rem;
    margin-bottom: 5rem;
}

.program:nth-child(2) {
    background: rgba(48, 31, 58, 0.726);
    transform: scale(1.1);
}

.program>svg {
    fill: var(--orange);
    width: 2rem;
    height: 2rem;
}

.program>:nth-child(2) {
    font-size: 1rem;
    font-weight: bold;
}

.program>:nth-child(3) {
    font-size: 3rem;
    font-weight: bold;
}

.program>:nth-child(5) {
    font-size: 0.8rem;
}

.features {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.feature {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.feature > img {
    width: 1rem;
}

.program>:nth-child(2)>svg {
    fill: white;
}

.program>:nth-child(2)>button {
    color: orange;
}

@media screen and (max-width: 768px) {
    .programs {
        flex-direction: column;
    }
    .programs > :nth-child(2) {
        transform: none;
    }
}

.stroke-text {
    color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}